# ===========================
# Build artifacts
# ===========================
build/

# Object & dependency files
*.o
*.d

# ===========================
# Python
# ===========================
venv/
.venv/
__pycache__/
*.py[cod]

# ===========================
# Environment files
# ===========================
.env
!.env.example

# ===========================
# GitHub metadata
# ===========================
!.github/


.vscode/